[Unit]
Description=mqtt publisher service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=10
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3.9 /tmp/daemon-service/$script_name $DATA_TOPIC_AUTHOR
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
